<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Simple Responsive Template</title>
<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon">

<!-- CSS-->
<!-- Google web fonts. You can get your own bundle at http://www.google.com/fonts. Don't forget to update the CSS accordingly!-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="styles/css/normalize.css">
<link rel="stylesheet" href="styles/js/flexslider/flexslider.css">
<link rel="stylesheet" href="styles/css/basic-style.css">

<!-- end CSS-->

<!-- JS-->
<script src="styles/js/libs/modernizr-2.6.2.min.js"></script>
<!-- end JS-->

<style>
.color_0 {
background-color: red;
}
.color_1 {
background-color: orange;
}
.color_2 {
background-color: yellow;
}
.color_3{
background-color: green;
}
</style>
</head>
